# env & creds
.env
# OS/Editor
.DS_Store
.vscode/
.idea/
# dumps/backups
backup/
# node/vendor (falls später genutzt)
node_modules/
vendor/
# cache files
__pycache__/
*.pyc
# Python virutal environments
venv/
.env/

# Docker
*.pid
*.log